version: '3'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" # app
      - "15672:15672" # dashboard
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./auth-service/init.sql:/docker-entrypoint-initdb.d/01_init.sql
      - ./cart-service/carts.sql:/docker-entrypoint-initdb.d/02_carts.sql
  
  auth-service:
    build: ./auth-service
    ports:
      - "3001:3001"
    environment:
      - AMQP_URL=amqp://rabbitmq
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@postgres:5432/auth_db
    depends_on:
      - rabbitmq
      - postgres

  cart-service:
    build: ./cart-service
    environment:
      - AMQP_URL=amqp://rabbitmq
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@postgres:5432/auth_db
    depends_on:
      - rabbitmq
      - postgres

  gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service

  frontend:
    build: ./frontend
    ports:
     - "5173:80"
    depends_on:
      - gateway

volumes:
  pgdata:
  rabbitmq_data: